.stat-select {
	width: 600 px;
	margin-bottom: 40px;
	margin-left: 10px;
}

.stat-select li {
	float: left;
	margin-right: 15px;
}

.stat-select a {
	text-decoration: none;
	color: green;
	font-size: 20px;
}

.hidden {
	display: none;
}

#rank-top {
	margin-left: 40px;
}

#rank-table {
	padding-top: 20px;
}

.bold-class a {
	font-weight: bold;
}

