.note-form {
	padding-top: 30px;
}

textarea {
	width: 300px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	font-family: "Baskervilles";
}

#note-button {
	margin-top: 20px;
	display: block;
	margin: auto;
	width: 300px;
	font-family: "Baskervilles";
}

.note-display {
	margin-top: 20px; 
	margin-left: 50px;
	font-family: "Baskervilles";
}

.note-display h2 {
	margin-left: 20px;
	font-family: "Baskervilles";
}

.note-display a {
	text-decoration: none;
}

.note-name {
	margin: auto;
}