.pos-select {
	width: 500px;
	margin-bottom: 50px;
	margin-left: 20px;
}

.pos-select a {
	text-decoration: none;
	color: green; 
}

.pos-select li {
	float: left;
	margin-right: 10px;
}

#player-page-top {
	margin-left: 350px;
}

.bold-class a {
	font-weight: bold;
}